body {
    background-image: url("assets/images/background-image.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 1121px;
}

.h1 {
    font-size: 32px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.375;
    text-align: center;
    position: absolute;
    left: 246.125px;
    top: 93.578px;
}

.block {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1024px;
}

.element {
    width: 160px;
    height: 257px;
    background-color: black;
    margin-left: 1px;
    margin-top: 1px;
}

.image {
    display: block;
    width: 160px;
    height: 157px;
    filter: grayscale(1);
}

.image:hover {
    filter: none;
}

.text-block {
    display: block;
    position: absolute;
    width: 160px;
    height: 100px;
    background-color: #bd4653;
    font-family: "Open Sans";
    font-size: 17px;
    color: white;
    line-height: 1.176;
    text-align: center;
    position: absolute;
}

.element:nth-child(2n+1) .text-block{
    background-color: #cf5664;
}